.game-button {
  border: 1px solid $grey-warm;
  background: $grey-warm-dark;
  margin-right: 10px;
  font-weight: bold;
  height: 35px;
  line-height: 35px;
  text-align: center;
  cursor: pointer;
  position: relative;

  &--white {
    background: white;
  }

  &--treasure {
    background: $treasure-light;
    color: $treasure-dark;
    border: 1px solid $treasure-dark;
  }

  &--victory {
    background: $victory-light;
    color: $victory-dark;
    border: 1px solid $victory-dark;
  }

  &--curse {
    border: 1px solid $curse-dark;
    color: $curse-dark;
    background: $curse-light;
  }

  &--active {
    border: 2px solid #007bff;
  }

  &.active {
    font-size: 0px;
    &::after {
      position: absolute;
      left: 0;
      top: 0;
      text-align: center;
      width: 100%;
      font-size: 16px;
      content: 'Loading...';
      display: block;
      height: 100%;
    }
  }
}