.button {
  background-color: $highlight-blue;
  border-color: transparent;
  color: white;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(.375em - 1px);
  padding-left: .75em;
  padding-right: .75em;
  padding-top: calc(.375em - 1px);
  text-align: center;
  white-space: nowrap;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  font-size: 1rem;
  height: 2.25rem;
  line-height: 1.5;
  vertical-align: top;

  &:disabled {
    opacity: .5;
    cursor: not-allowed;
  }
}