.game-button {
  border: 1px solid $grey-warm;
  background: $grey-warm-dark;
  margin-right: 10px;
  font-weight: bold;
  height: 35px;
  line-height: 35px;
  text-align: center;
  cursor: pointer;

  &--white {
    background: white;
  }

  &--active {
    border: 2px solid #007bff;
  }

  &--treasure {
    background: $treasure-light;
    color: $treasure-dark;
    border: 1px solid $treasure-dark;
  }

  &--victory {
    background: $victory-light;
    color: $victory-dark;
    border: 1px solid $victory-dark;
  }

  &--curse {
    border: 1px solid $curse-dark;
    color: $curse-dark;
    background: $curse-light;
  }
}