html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#root {
  flex-grow: 1;
}

.root-loader {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}