.digital-pattern-library {
  width: 1200px;
  margin: 4rem auto;

  .example-group {
    display: flex;
    margin-bottom: 2rem;
    align-items: flex-start;

    &.vertical {
      flex-direction: column;
    }

    >.description-box {
      margin-right: 2%;
    }

    >.heading {
      margin-bottom: 1rem;
    }

    >.button,
    >.game-button,
    >.button-checkbox {
      width: 10%;
      margin-right: 2%;
    }

    >.input {
      width: 30%;
      margin-right: 2%;
    }

    >.loader,
    >.loading-message {
      margin-right: 5%;
    }
  }
}