.name-entry {
  width: 1200px;
  margin: 4rem auto;

  .heading {
    margin-bottom: 2.5rem;
  }

  .p {
    margin-bottom: 1rem;
  }

  .input {
    margin: 0 1rem 1rem 0;
    width: 30%;
    display: inline-block;
  }

  .button {
    display: inline-block;
  }
}