.button {
  background-color: $highlight-blue;
  color: white;
  cursor: pointer;
  padding: .5rem 1rem .5rem 1rem;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  font-size: 1rem;
  vertical-align: top;
  position: relative;
  display: block;

  &:disabled {
    opacity: .5;
    cursor: not-allowed;
  }

  &.loading {
    font-size: 0;
    &::after {
      text-align: center;
      width: 100%;
      font-size: 16px;
      content: 'Loading...';
      display: block;
      height: 100%;
    }
  }
}