.card {
  border: 2px solid $grey-mid;
  padding: 10px;
  margin-top: 20px;
  width: 18.5%;
  margin-right: 1.5%;
  text-align: center;
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/rockywall.png");
  cursor: pointer;

  &--active {
    border: 3px solid $blue;
  }

  .__description {
    background: $grey-dark;
    color: $grey-light;
    padding: 10px;
    position: fixed;
    top: 30px;
    left: 0;
    z-index: 10;
    display: none;
    width: 200px;
  }

  .__standard-effects {
    text-align: center;
    border-bottom: 1px solid $grey-light;
    padding-bottom: 10px;
    margin-bottom: 10px;

    &:last-child {
      border-bottom: 0px;
      padding-bottom: 0px;
      margin-bottom: 0px;
    }
  }

  &.card--treasure {
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/halftone-yellow.png");
  }
  &.card--victory {
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/green_dust_scratch.png");
  }
  &.card--curse {
    background: url("https://png.pngtree.com/thumb_back/fw800/back_pic/03/84/70/0657cb78f0016be.jpg");
    color: white;
  }
}