.game {
  .__player-area {
    width: 40%;
    padding: 15px;
  }

  .__player-area-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .__player-area-option {
    margin: 0 15px 10px 0;
    width: 48%;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .__player-area-title {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 10px;
  }

  .__player-area-checkbox {
    margin: 0 .5% 10px 0;
    width: 48%;
  }
}