.status {
  border-top: 1px solid $grey-mid;
  display: flex;
  align-items: center;
  height: 60px;

  .resource {
    margin: 0 20px;
    font-size: 19px;
    font-weight: bold;
    min-width: 130px;

    .number {
      font-weight: normal;
      margin-left: 5px;
    }
  }
}