.__status {
  border-top: 1px solid $grey-mid;
  display: flex;
  align-items: center;
  height: 60px;
}

.__status-resource {
  margin: 0 20px;
  font-size: 19px;
  font-weight: bold;
  min-width: 130px;
}

.__status-amount {
  font-weight: normal;
  margin-left: 5px;
}