.top {
  display: flex;

  .kingdom-cards {
    flex-grow: 1;
    padding: 60px;
    display: flex;
    flex-wrap: wrap;

    .kingdom-card-group {
      width: 30%;
      margin-right: 4%;
      display: flex;
      flex-direction: column;

      &:nth-child(3n) {
        margin-right: 0;
      }

      .kingdom-card-coin-divider {
        position: relative;
        height: 34px;
        margin-bottom: 20px;

        &:before {
          content: '';
          border-top: 1px solid $grey-mid;
          position: absolute;
          width: 100%;
          top: 17px;
          left: 0;
        }
        .kingdom-card-coin {
          position: absolute;
          top: 0;
          left: 50%;
          margin-left: -17px;
          height: 34px;
          width: 34px;
          text-align: center;
          line-height: 34px;
          border-radius: 50%;
          background: $treasure-light;
          color: $treasure-dark;
          font-size: 20px;
        }
      }

      .kingdom-card {
        color: $grey-warm;
        display: flex;
        line-height: 35px;
        margin-bottom: 10px;

        .name {
          border: 1px solid $grey-warm;
          background: $grey-warm-dark;
          margin-right: 10px;
          font-weight: bold;
          height: 35px;
          width: 85%;
          text-align: center;
        }

        .amount {
          width: 15%;
          height: 35px;
          text-align: center;
        }
      }
    }
  }

  .common-cards {
    width: 200px;
    border-left: 1px solid $grey-mid;
    display: flex;
    flex-direction: column;

    .common-card-group {
      display: flex;
      flex-direction: column;
      justify-content: center;

      &--treasure {
        flex-grow: 2;
        background: $treasure-light;
        color: $treasure-dark;

        .letter {
          border: 1px solid $treasure-dark;
        }
      }

      &--victory {
        flex-grow: 2;
        background: $victory-light;
        color: $victory-dark;

        .letter {
          border: 1px solid $victory-dark;
        }
      }

      &--misc {
        flex-grow: 1;
        background: $curse-light;
        color: $curse-dark;

        .letter {
          border: 1px solid $curse-dark;
        }
      }

      .common-card {
        display: flex;
        margin: 0 0 10px 20px;
        font-size: 20px;
        line-height: 35px;

        .letter {
          font-weight: bold;
          width: 35px;
          height: 35px;
          text-align: center;
          margin-right: 15px;
        }
      }
    }
  }
}