.game {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  position: relative;
}

@import '../atoms/card';
@import '../molecules/kingdom';
@import '../molecules/main';
@import '../molecules/sidebar';