.__log {
  width: 40%;
  border-left: 1px solid $grey-mid;
  background: white;
  font-size: 15px;
  line-height: 20px;
  overflow: scroll;
}

.__log-title {
  padding: 15px;
  border-bottom: 1px solid $grey-mid;
  margin-bottom: 15px;
  font-size: 24px;
}

.__log-entry {
  display: block;
  padding: 0 0 10px 15px;
}

.__log-dot-wrapper {
  display: inline;
  margin: 0 5px 0 0px;
}