.player-area {
  width: 40%;
  padding: 15px;

  .player-area-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;

    .option {
      border: 1px solid $grey-dark;
      font-size: 16px;
      text-align: center;
      height: 35px;
      line-height: 35px;
      margin: 0 15px 10px 0;
      width: 48%;
      background: white;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
}