.__player-area {
  width: 40%;
  padding: 15px;
}

.__player-area-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
}

.__player-area-option {
  border: 2px solid $highlight-blue;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  height: 35px;
  line-height: 35px;
  margin: 0 15px 10px 0;
  width: 48%;
  background: white;

  &:nth-child(2n) {
    margin-right: 0;
  }
}

.__player-area-title {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 10px;
}