.game-sidebar {
  width: 500px;
  border-left: 1px solid $grey-dark;

  &__prompt {
    font-size: 18px;
    border-bottom: 1px solid $grey-dark;
    padding: 60px 20px 20px 20px;
    margin-bottom: 40px;
    text-align: center;
  }

  .card {
    width: auto;
    margin: 10px 40px;
  }
}