.game {
  .__common-cards {
    width: 200px;
    border-left: 1px solid $grey-mid;
    display: flex;
    flex-direction: column;
  }

  .__common-card-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 1.5rem;

    &.--treasure {
      flex-grow: 2;
      background: $treasure-light;
      color: $treasure-dark;
    }

    &.--victory {
      flex-grow: 2;
      background: $victory-light;
      color: $victory-dark;
    }

    &.--misc {
      flex-grow: 1;
      background: $curse-light;
      color: $curse-dark;
    }
  }

  .common-card {
    margin: 0 0 10px 0;
  }
}