// Colours
$grey-dark: #222;
$grey-mid: #ccc;
$grey-light: #eee;
$grey-warm: #383d41;
$grey-warm-dark: #e2e3e5;
$blue: #3273dc;
$highlight-blue: #007bff;

$treasure-light: #ffeeba;
$treasure-dark: #856404;

$victory-light: #c3e6cb;
$victory-dark: #155724;

$curse-light: #b39dc9;
$curse-dark: #49205e;