.game {
  display: flex;
  flex-direction: column;
  height: 100%;

  .top {
    display: flex;
    flex-grow: 1;
  }

  .status {
    border-top: 1px solid $grey-mid;
    display: flex;
    align-items: center;
    height: 60px;
  }

  .bottom {
    border-top: 1px solid $grey-mid;
    bottom: 0;
    height: 325px;
    display: flex;
    background: $grey-light;
  }

  .game-end {
    width: 60rem;
    margin: 0 auto;
    padding-top: 15rem;
  }
}