.button-checkbox {
  position: relative;

  &:nth-child(2n) {
    margin-right: 0;
  }

  .__input {
    position: absolute;
    left: -1000px;

    &:checked {
      &+.__button {
        border: 2px solid $highlight-blue;
      }
    }
  }

  .__button {
    cursor: pointer;
  }
}