.description-box {
  background: #222;
  color: white;
  padding: 1rem;
  width: 20rem;
  line-height: 24px;

  .__standard-effects {
    list-style: none;
    border-bottom: 1px solid white;
    padding-bottom: .5rem;
    margin-bottom: .5rem;

    &:last-child {
      border-bottom: 0px;
      padding: 0;
      margin: 0;
    }
  }
}