.name-entry {
  width: 1200px;
  margin: 4rem auto;

  .__heading {
    margin-bottom: 2.5rem;
  }

  .__paragraph {
    margin-bottom: 1rem;
  }

  .__input {
    margin: 0 1rem 1rem 0;
    width: 30%;
    display: inline-block;
  }

  .__button {
    display: inline-block;
  }
}